@{
    ViewBag.Title = "Redis Test";
}

<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<table border="1" cellpadding="10" class="redis-results">
    <tr>
        <th>Command</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>@ViewBag.Command1</td>
        <td><pre>@ViewBag.Command1Result</pre></td>
    </tr>
    <tr>
        <td>@ViewBag.Command2</td>
        <td><pre>@ViewBag.Command2Result</pre></td>
    </tr>
</table>
